{% extends 'layout.html.jinja' %}

{% block main %}
<h1>Submit quote</h1>

<form action="{{ form_action }}" method="post" class="form submit_quote-form">
	<textarea name="body"></textarea>
	<input type="submit">
</form>
{% endblock %}
