{% extends 'layout.html.jinja' %}

{% block main %}
<h1>Submit quote</h1>

<form action="{{ form_action }}" method="post" class="form submit_quote-form">
	<textarea name="body">{{ body }}</textarea>
	<input type="submit" class="submit-form-button">
</form>
{% endblock %}
