<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>QDB</title>
	<meta name="description" content="Hello! ebaegkg interesting ebaegkg site! I'm really like it! Very, very ebagkg good!">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	{% block css %}{% endblock %}
</head>
<body>
<div class="background-1"></div>
<div class="background-2"></div>

	<header class="header clearfix">
		<a href="{{ url_for('home') }}"><h1 class="site-title">QDB</h1></a>
		<form action="{{ url_for('home') }}" class="search-form">
			<input type="search" name="s">
			<button type="submit">Search</button>
		</form>
		<nav class="main-nav">
			<ul class="menu">
				{% if session.get('logged_in') %}
				<li><a href="{{ url_for('pending') }}">Pending ({{ pending_count }})</a></li>
				{% endif %}
				<li><a href="{{ url_for('home') }}">Recent</a></li>
				<li><a href="{{ url_for('home') }}?order=asc">Archive</a></li>
				<li><a href="{{ url_for('random') }}">Random</a></li>
				<li><a href="{{ url_for('submit') }}">Submit</a></li>
			</ul>
		</nav>
	</header>

	<main class="main clearfix">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="messages">
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

	{% block main %}{% endblock %}
	</main>

	<script src="{{ url_for('static', filename='script.js') }}"></script>
	{% block js %}{% endblock %}
</body>
</html>
