<div class="quote" id="quote-{{ quote.id }}">
	<div class="quote-info">
		<span class="quote-id"><a href="{{ url_for('show', quote_id=quote.id) }}">#{{ quote.id }}</a></span>
		<time datetime="{{ quote.submitted_at.isoformat() }}" class="quote-submitted_at">{{ quote.submitted_at_print }}</time>
	{% if session.get('logged_in') %}
		{% if not quote.approved %}
		<button class="quote-approve_button" data-quote-id="{{ quote.id }}">Approve</button>
		{% endif %}
		{% if quote.approved != false %}
		<button class="quote-reject_button" data-quote-id="{{ quote.id }}">Reject</button>
		{% endif %}
		<button class="quote-delete_button" data-quote-id="{{ quote.id }}">Delete</button>
		<button class="quote-edit_button" data-quote-id="{{ quote.id }}">Edit</button>
		<span class="submitter-ip">{{ quote.submitter_ip or 'Unknown submitter' }}</span>
	{% endif %}
	</div>
	<div class="quote-body">{{ quote.body | e | urlize }}</div>

	{% if session.get('logged_in') %}
	<form class="quote-edit hidden">
		<textarea name="body" class="quote-edit-input">{{ quote.body }}</textarea>
		<button type="button" data-quote-id="{{ quote.id }}" class="quote-edit-submit_button">Submit</button>
		<button type="button" data-quote-id="{{ quote.id }}" class="quote-edit-cancel_button">Cancel</button>
		<label><input type="checkbox" name="strip_timestamps" checked> Strip timestamps</label>
	</form>
	{% endif %}
</div>
